{% set current_path = "" %}
{% if page is defined %}
  {% set current_path = page.path %}
{% elif section is defined %}
  {% set current_path = section.path %}
{% endif %}

<header class="sticky top-0 w-full z-10 font-mono">
  <nav class="bg-purple-400 ">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-center h-30">
        <div class="flex items-center h-full w-full">
          <div class="flex-shrink-0 justify-self-start w-[10vw]">
            <a href="/" aria-label="{{ res.aria_to_homepage }}">
              <div class="h-8 w-8 text-gray-200 hover:text-white fill-current">
                ivy's site 
              </div>
            </a>
          </div>
          <div class="hidden md:block ">
            <div class="ml-8 flex items-center justify-between  grow">
              {% if config.extra.menu_pages %}
                {% for entry in config.extra.menu_pages %}
                  {% if entry.url == current_path %}
                    <span aria-current="page" class="px-3 py-5 ml-2 rounded-md font-medium text-cyan-200 bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-600">{{ entry.title }}</span>
                  {% else %}
                    <a class="px-3 py-5 ml-2  rounded-md font-medium text-amber-900 hover:text-white hover:bg-purple-950 transition-colors duration-600 focus:outline-none focus:text-white focus:bg-gray-600" href="{{ entry.url | safe }}" title="{{ entry.title }}">{{ entry.title }}</a>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="-mr-2 flex md:hidden">
          <button id="toggleMobileMenu" class="icon inline-flex items-center justify-center p-2 rounded-md text-gray-200 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white" aria-label="{{ res.aria_menu }}">
            <span id="mobile-icon-menu-unselected">
              <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </span>
            <span id="mobile-icon-menu-selected" class="hidden">
              <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </span>
          </button>
        </div>
      </div>
    </div>
    {% if config.extra.menu_pages %}
      <div id="mobile-menu" class="hidden md:hidden px-2 pt-2 pb-3 sm:px-3">
        {% for entry in config.extra.menu_pages %}
          {% if entry.url == current_path %}
            <span aria-current="page" class="block px-3 py-2 rounded-md font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-600">{{ entry.title }}</span>
          {% else %}
            <a class="mt-1 block px-3 py-2 rounded-md font-medium text-gray-200 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-600" href="{{ entry.url | safe }}" title="{{ entry.title }}">{{ entry.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </nav>
</header>
