{% extends "base.html" %}

{% block content %}
{% include "partials/music.html" %}

{% include "partials/banner.html" %}
<div class="bg-white m-4 ">
	<span class="text-center font-bold font-mono">yeah this is my lil site for all my thoughts, have a <i>L<svg class="animate-bounce inline-block" width="20"  viewBox="0 0 293 152" fill="none" xmlns="http://www.w3.org/2000/svg">
		<ellipse cx="146.5" cy="76" rx="146.5" ry="76" fill="#D9D9D9" />
		<ellipse cx="146.5" cy="76" rx="50.5" ry="76" fill="#EE0000" />
	</svg>
	<svg class="inline-block animate-bounce" width="20"  viewBox="0 0 293 152" fill="none" xmlns="http://www.w3.org/2000/svg">
		<ellipse cx="146.5" cy="76" rx="146.5" ry="76" fill="#D9D9D9" />
		<ellipse cx="146.5" cy="76" rx="50.5" ry="76" fill="#EE0000" />
	</svg>K</i>


</span>
	
{% include "partials/list.html" %}

{% endblock %}
